@media (min-width: 1200px) {
    .container-big{
        max-width: 1280px;
    }
}

#influence{
    background-image: url(../image/photo1.jpg);
    background-position: center;
    background-size: cover;
}

#influence h2{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ebdec2;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    padding-top: 70px;
}


#influence h1{
    font-family:'Open Sans', 'Helvetica', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

#influence p{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ebdec2;
    font-size: 17px;
    font-weight: 400;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

#influence a {
    display: inline-block;
    padding:10px 30px;
    border: 1px solid #f7b10a;
    color:#f7b10a;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom:70px;
    margin-top: 15px;

}







#avenement{
    background-image: url(../image/photo2.jpg);
    background-position: center;
    background-size: cover;
}

#avenement h2{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ebdec2;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-top: 70px;
}


#avenement h1{
    font-family:'Open Sans', 'Helvetica', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}

#avenement p{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ebdec2;
    font-size: 17px;
    font-weight: 400;
    text-align:left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#avenement a {
    display: inline-block;
    padding:10px 30px;
    border: 1px solid #f7b10a;
    color:#f7b10a;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom:70px;
    margin-top: 15px;
}
