@media (min-width: 1200px) {
    .container-big{
        max-width: 1280px;
    }
}

#influence{
    background-image: url(../photo1.jpg);
    background-position: center;
}

#influence h2{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ebdec2;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    padding-top: 70px;
}


#influence h1{
    font-family:'Open Sans', 'Helvetica', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

#influence p{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

#influence a {
    border: 1px solid #c77e19;
    color:#f7b10a;
    font-size:15px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    padding: 10px 27px;

}







#avenement{
    background-image: url(../photo2.jpg);
    background-position: center;
}

#avenement h2{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ebdec2;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-top: 70px;
}


#avenement h1{
    font-family:'Open Sans', 'Helvetica', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}

#avenement p{
    font-family:Open Sans, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align:left;
    margin-bottom: 20px;
    margin-top: 10px;
}

#avenement a {
    border: 1px solid #c77e19;
    color:#f7b10a;
    font-size:15px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 27px;

}
